.bag {
    position: fixed;
    border-radius: 1rem;
    width: fit-content;
    top: 5rem;
    right: 1rem;
    padding: 2rem;
    z-index: 1;
    background-color: #ffffff;
    animation: fadeIn 0.2s;
}

.bag-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 0.5fr ;
    align-items: center;
    justify-items: center;
    color: gray;
    font-size: 0.8rem;
}

.bag-items-item {
    margin: 1rem;
    color: #000000;
}

.bag-items-title p {
    margin: 0.5rem
}

.bag-items-item img {
    width: 3rem;
    height: 2rem;
    object-fit: cover;
}