.bag {
  width: 100%;
  padding: 6rem 3rem;
  animation: fadeIn 0.2s;
}

.bag-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 0.5fr;
  align-items: center;
  justify-items: center;
  color: #808080;
  font-size: 0.8rem;
}

.bag-items-item {
  margin: 1rem;
  color: #000000;
}

.bag-items-title p {
  margin: 0.5rem;
}

.bag-items-item img {
  width: 5rem;
  height: 3rem;
  object-fit: cover;
}

.bag-items-remove {
  color: #ff0000;
  background-color: #ff0000;
  padding: 0.5rem;
  cursor: pointer;
}

.bag-items-remove:hover {
  font-size: 1rem;
  color: #000000;
}

.bag-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  gap: 1rem;
  margin-top: 2rem;
}

.bag-bottom p {
  color: #808080;
}

.bag-bottom button {
  display: block;
  width: fit-content;
  padding: 0.6rem 1rem;
  border-radius: 1rem;
  border: none;
  background-color: #5a3c34;
  color: #f9f6f3;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.4s linear;
}

.bag-bottom button:hover {
  background-color: #a36a53;
  scale: 1.1;
}
