/* 50
f9f6f3
100
f2eae2
200
e3d3c5
300
d1b6a0
400
c49e85
500
b17c5e
600
a36a53
700
885546
800
6f473d
900
5a3c34
950
301e1a 

h1 - 9rem
h2 - 7rem
h3 - 5rem
h4 - 2rem
*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding: 1rem 5vw;
  /* background-color: #f9f6f3; */
  background-color: transparent;
  z-index: 1;
  transition: all 0.5s ease;
}

.navbar.active {
  border: none;
  background-color: #f9f6f3;
}

.navbar .logo-container {
  display: block;
  height: 1.5rem;
}

.logo-container .logo-img {
  height: 1.5rem;
}

.navbar-menu {
  display: flex;
  gap: 1.5rem;
  color: #a36a53;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.mobile-navbar-menu {
  display: none;
}

.navbar .signin {
  display: block;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  border: none;
  background-color: #5a3c34;
  color: #f9f6f3;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.navbar .signin:focus {
  background-color: #301e1a;
  scale: 1.1;
}

.navbar .signin:hover {
  background-color: #a36a53;
  scale: 1.1;
}

.active {
  color: #5a3c34;
  border-bottom: 1px solid #5a3c34;
}

.navbar a {
  cursor: pointer;
  transition: 0.4s linear;
}

.navbar a:hover {
  color: #5a3c34;
}

.navbar-end {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bag-shopping {
  position: relative;
}

.bag-shopping .bag-icon {
  height: 1.5rem;
  color: #5a3c34;
  cursor: pointer;
  transition: all 0.4s ease;
}

.bag-shopping .bag-icon:focus {
  color: #301e1a;
  scale: 1.1;
}

.bag-shopping .bag-icon:hover {
  color: #a36a53;
  scale: 1.1;
}

.bag-shopping .dot {
  position: absolute;
  min-height: 5px;
  min-width: 5px;
  background-color: green;
  border-radius: 5px;
  top: -4px;
  right: -4px;
  transition: all 0.4s ease;
}

.hamburger {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0.5rem 5vw;
  }

  .navbar-menu {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .mobile-navbar-menu.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    top: 3.4rem;
    left: 0;
    width: 100vw;
    padding: 1rem;
    background-color: #f9f6f3;
    color: #a36a53;
    font-size: 1rem;
    text-transform: uppercase;
    animation: slide-in 0.4s ease;
    z-index: 1;
  }

  .hamburger .bars {
    height: 1.5rem;
    width: 1.5rem;
    color: #5a3c34;
    cursor: pointer;
    animation: spinRotate 0.5s;
    transition: all 0.4s ease;
  }

  .hamburger .xMark {
    height: 1.5rem;
    width: 1.5rem;
    color: #5a3c34;
    cursor: pointer;
    animation: spinRotate 0.5s;
    transition: all 0.4s ease;
  }

  .hidden {
    display: none;
  }

  .bars:focus {
    color: #301e1a;
  }

  .xMark:focus {
    color: #301e1a;
  }

  .bars:hover {
    color: #a36a53;
  }

  .xMark:hover {
    color: #a36a53;
  }
}
